.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* nav first part */
#navbarScrollingDropdown {
  color: rgb(71, 103, 136);
  font-size: 16px;
  font-weight: 500;
}

#globe {
  margin-top: 10px;
  font-size: 15px;

}





/* nav first part end */

.thrd {
  text-align: center;
  margin: auto;


}

.thrd>h3 {
  font-weight: 600;
  text-align: left;
  color: rgb(0, 107, 255);
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 24px;
  z-index: 10;
  text-align: center;
  margin: auto;

}

.thrdtext {
  font-size: 3.125rem;
  line-height: 1.2;
  text-align: center;
  color: rgb(11, 53, 88);
  font-weight: 700;
  margin-bottom: 24px;
  max-width: 770px;
  z-index: 10;
  text-align: center;
  margin: auto;

}





.gQOtoQ {
  width: 100%;
  line-height: 1.71429;
  height: auto;
  padding-bottom: 32px;
  text-align: center;
  margin: auto;
  color: rgb(71, 103, 136);
  font-size: 1.5rem;
}

.explore {
  transition: all 0.2s linear 0s;
  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-family: Gilroy;
  font-weight: 600;
  min-height: 49px;
  height: auto;
  margin: 8px 0px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: transparent;
  background-color: rgb(0, 107, 255);
  padding: 10px 18px;
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.6;
}

.fifth {
  transition: all 0.2s linear 0s;
  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-family: Gilroy;
  font-weight: 600;
  min-height: 49px;
  height: auto;
  margin: 8px 0px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: transparent;
  background-color: rgb(0, 107, 255);
  padding: 10px 18px;
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.6;


}

.fifth_btn {

  transition: all 0.2s linear 0s;
  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-family: Gilroy;
  font-weight: 600;
  min-height: 49px;
  height: auto;
  margin: 8px 0px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: rgb(0, 107, 255);
  background-color: transparent;
  padding: 10px 18px;
  color: rgb(0, 107, 255);
  outline: none;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.6;
  /* border:none */
}

.fifth_text {
  font-size: 3.125rem;
  line-height: 1.2;
  text-align: center;
  color: rgb(29, 52, 75);
  font-weight: 700;
  margin-bottom: 40px;
}

.fifthCont {
  background-color: rgb(247, 250, 255);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: visible;
  padding: 0px 40px;
  margin-top: 7%;
  height: 300px;
  width: "100%";

}

/* foter */
/* end section */


.login_btn {

  transition: all 0.2s linear 0s;
  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  min-height: 39px;
  height: auto;
  margin: 8px 0px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  /* border-color: rgb(0, 107, 255); */
  background-color: transparent;
  padding: 10px 18px;
  color: black;
  outline: none;
  cursor: pointer;
  font-size: 1.0rem;
  line-height: 1.6;
  border: none;
  margin-left: -20px;
}

