.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* nav first part */
#navbarScrollingDropdown{
  color: rgb(71, 103, 136);
  font-size: 16px;
  font-weight: 500;
}

#globe{
  margin-top:10px;
  font-size: 15px;
 
}
  
  



/* nav first part end */

.thrd{
  text-align: center;
  margin: auto;


}
.thrd>h3{
  font-weight: 600;
  text-align: left;
  color: rgb(0, 107, 255);
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 24px;
  z-index: 10;
  text-align: center;
  margin: auto;

}
.thrdtext{
      font-size: 3.125rem;
    line-height: 1.2;
    text-align: center;
    color: rgb(11, 53, 88);
    font-weight: 700;
    margin-bottom: 24px;
    max-width: 770px;
    z-index: 10;
    text-align: center;
    margin: auto;
  
}





.gQOtoQ {
    width: 100%;
    line-height: 1.71429;
    height: auto;
    padding-bottom: 32px;
    text-align: center;
    margin: auto;
    color: rgb(71, 103, 136);
    font-size: 1.5rem;
}